{% extends "ureport_layout.html" %}
{% block page_title %} About Ureport {% endblock %}



{% block stylesheets %}

{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/ureport_custom.css" />

{% endblock %}










{% block content %}

<div class="how_to_join">
	
	<div class="m">
		
		<p class="step_txt"><span class="step_name">

		</p>
		
		<p>
			<h3> Pourquoi rejoindre? Comme un Ureporter tu peux:</h3>
			<ul>
				<li>Collecter et partager des informations importantes à propos de ce qui se passe 
				    dans ta communauté avec les autres à travers le pays</li>
				<li>Proposer des solutions aux defis que tu vois et motiver nos responsables à  l'action.</li>
				<li>Contribuer aux emissions radio et articles de journaux sur les sujets qui te tiennent à  cœur.</li>
				<li>Participer dans les événements Ureport et rencontrer les autres communautés de volontaires 
				    travaillant pour pour un changement positif dans leurs communautés</li>
			</ul>
       En collectant et en partageant l'information de ta communauté tu aides à améliorer la livraison 
       des services et ressources sociaux à ceux qui en ont le plus besoin
		</p>
		<p>
		</p>
		
		<img src="{{ STATIC_URL }}images/Bur.png">

	</div>
	
	<div>
	
		<h3>La mission</h3> 
	Mission d'un Ureporter:
	<ul>
	<li>Inspirer un changement positif au sein de ta communauté.</li> 
	<li>Partager l'information sur ce qui se passe dans ta communauté 
	et plaider pour des services sociaux améliorés..</li>
	<li>Motiver les responsables a agir sur des sujets sociaux importants</li> 
    <li>Partager avec d’autres les informations collectées à travers les sondages Ureport, les émissions radio, les dialogues/réunions communautaires et les événements publics.</li> 
	 <li>Encourager les autres  à aussi devenir Ureporter!</li>  
    </ul>
	
	</div>



	<div>
	<h3>Domaine privé</h3>
	<p>
		Toutes les informations collectées durant l'enregistrement sont 
		nécessaires et conçues pour mieux localiser et partager les réponses des 
		Ureporters à travers le pays, mais ce que tu partages dépend de toi et tu
		n'es pas obligé de donner ton nom. 
		 
        L'information de ton profil et ton numéro de téléphone ne seront jamais 
        partagés publiquement sans ta permission. Si jamais nous souhaitons 
        publier ta réponse comme une partie d’activités Ureport, nous serons sûr 
        d'avoir d'abord ta permission.
        
        Tu choisis à quelles questions tu veux répondre.
        
        Tu peux arrêter de recevoir les messages Ureport n'importe quand en 
        écrivant “.............” au ….........
        
        Rappel Toi : Ureport se veut comme un outil pour aider les volontaires 
        communautaire et les jeunes à travers le pays à communiquer entre eux et 
        les décideurs sur des sujets sociaux importants. Ce système ne peut en 
        aucune façon être utilisé pour inciter la discrimination contre les autres 
        basée sur le genre, la religion, l'ethnie, ou l'appartenance politique.
	</p>
	</div>




	
	<div class="p1">
	        <div>
				<a href="/media/" ><img src="{{ STATIC_URL }}images/ressource.png"></a>
				<a href="/media/" ><img src="{{ STATIC_URL }}images/evenement.png"></a>
				<a href="/media/" ><img src="{{ STATIC_URL }}images/media.png"></a>
			</div>

	        
	        <img src="{{ STATIC_URL }}images/p2.png">
	        
	        

	</div>
	


	
	

</div>
    

{% endblock %}



