{% extends "ureport_layout.html" %}

{% block javascripts %}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="http://openlayers.org/api/2.11-rc1/OpenLayers.js?1123"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}generic/javascripts/map.js"></script>
    {{ block.super }}
{% endblock %}
{% block top_js %}
    <script language="javascript">
  $(document).ready(function() {
        $('#viz').load('/bestviz?pks=l');
    });
    </script>
{% endblock %}
{% block content %}


<div id="viz">
</div>

<div id="sondages">
	      <div class="map">
		  
		  
	          <img src="{{ STATIC_URL }}images/Burundi.png"> 

	
	      </div>
	      
	      <p>
	      
	      
	      
	      
	      
	      </p>
	      
			<div class="sondages_header">
			 	Sondages Top
			</div>
			<div class="news_column">
				<span> 16/Mar/2013 - <a href=""> voir les resultats</a></span><br />
					Si vous cherchez de l'eau d'un robinet puits,
					forage ou de la communaute,est-il travailler aujourd'hui?
					OUI ou Non et inclure le non </br>du Village
			</div>
			<div class="sondages_sep">&nbsp;</div>
			<div class="news_column">
				<span> 16/Mar/2013 - <a href=""> voir les resultats</a></span><br />
					Si vous cherchez de l'eau d'un robinet puits,
					forage ou de la communaute,est-il travailler aujourd'hui?
					OUI ou Non et inclure le non </br>du Village
			</div>
			
		</div>
		<div class="past_results">
			<a href=""> Pour afficher plus de résultats, cliquez ici</a></p>
		</div>
	    <div id="footer">
	    	<div><div class="sponsors_header" >
	    		Partenaires	
	    		 
			 
			    	</div>


Le partenariat avec des organisations ayant un large réseau de volontaires nationaux est la force motrice derrière Ureport Burundi.
Durant les 6 derniers mois, l’équipe Ureport a travaillée en étroite collaboration avec les volontaires de la Croix Rouge, des Scouts et des 
Guides de partout dans le pays pour identifier des options/caractéristiques de la plate-forme et des sujets clés pour des sondages. 
Maintenant prêt pour lancer la phase pilote de Ureport Burundi…	
	    	</div>
	    	<p>
	    	
	    	
	    	
	    	
	    	</p>
	    	<div><div class="sponsors_header" >
	    		campagne publique:
	    		</div>
	    		
	    		Par un partage régulier de l'information sur des sujets sociaux importants, les Ureporters du Burundi ont démontré leur désir pour un changement positif; 
	    		l'UNICEF et ses Partenaires sont à l’écoute et suivent attentivement. Les plates-formes de médias traditionnelles (la radio, les journaux et la télévision) joueront un rôle important en partageant  leurs idées et opinions à travers le pays, en commençant le jour du lancement public de la plate-forme Ureport en..... 	
	    		 
			 </div>
			    	
	      <div class="sponsors_logos">
	           <img src="{{ STATIC_URL }}ureport/images/unicef_logo.png" alt="unicef logo" />
	           <img src="{{ STATIC_URL }}ureport/images/gem_logo.png" alt="gem logo" />
	           <img src="{{ STATIC_URL }}ureport/images/croix_rouge_burundi.png" alt="red cross logo" />
	           <img src="{{ STATIC_URL }}ureport/images/scouts_burundi.png" alt="scouts logo" />
	           <img src="{{ STATIC_URL }}ureport/images/girl_scouts.png" alt="girl guides logo" />     
	       </div>
	       <div id="activities">
			<div class="activities_header">
			 	ACTIVITÉS SUR UREPORT
			</div>
			<div class="activities_column">
				<span> ceci est une version de Lorem Ipsum</span><br />
					<a href="{{ STATIC_URL }}ureport/images/messi.jpg">
						<img src="{{ STATIC_URL }}ureport/images/messi_p.png" width="30%"  align="left" />
					</a>
					Si vous cherchez de l'eau d'un robinet puits,
				forage ou de la communaute,est-il travailler </br>aujourd'hui?
				OUI ou Non et inclure le non du Village <a href="">plus...</a>
			</div>
			<div class="activities_sep">&nbsp;</div>
			<div class="activities_column">
				<span> ceci est une version de Lorem Ipsum</span><br />
					<a href="{{ STATIC_URL }}ureport/images/messi.jpg">
						<img src="{{ STATIC_URL }}ureport/images/messi_p.png" width="30%"  align="left" />
					</a>
					Si vous cherchez de l'eau d'un robinet puits,
				forage ou de la communaute,est-il travailler </br>aujourd'hui?
				OUI ou Non et inclure le non du Village <a href="">plus...</a>
			</div>
			
		</div>
	  </div>  
<div class="scrolltop">
<span>PREVIOUS POLLS</span>
</div>
<a name="poll_results"></a>
<div class="poll_list">
<ul>
    {% for p in polls %}
    {% if p.start_date %}
        <li>
            <span class="poll-date">{{ p.start_date|date:"d/M/Y" }}</span> :
            {{ p.question }}
            <a href="javascript:void(0)" 
               onclick="clear_layers();$('#viz').load('{% url ureport.views.best_visualization p.pk %}')">See results</a>
        </li>
    {%endif%}
    {% endfor %}
</ul>
</div>
<div class="scrollbottom">
&nbsp;
</div>


{%endblock%}
