{% extends "ureport_layout.html" %}


{% block stylesheets %}

{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}stylesheets/ureport_custom.css" />

{% endblock %}




{% block content %}

<div class="how_to_join">

   <div>
   <h3>À propos de plaidoirie/amplification/résultats</h3>
Ureport dans le monde: Ureport a fait un long chemin depuis son lancement en Ouganda en 2010 et est maintenant 
utilisé par des centaines de milliers de jeunes dans le monde. Pour voir comment Ureport fonctionne dans d'autres 
pays, clique sur n'importe lequel des liens suivants:   
   </div>


   <div>
   <h3>Ressources</h3>
    Ils arrivent bientôt! Il y a plusieurs façons d'attirer l'attention sur les sujets qui te préoccupent le plus. 
    Ici tu peux trouver une collection de ressources de plaidoirie qui inclut des outils de base et de formation, 
    et des exemples de campagnes innovantes de partout dans le monde.
   </div>
   
   <div>
   <h3>Événements</h3>
   Ils arrivent bientôt! Le Projet Ureport Burundi est bien plus qu'un service de messagerie! 
   C'est un mouvement social pour un changement positif conduit par les volontaires communautaire et les jeunes. 
   Vérifie régulièrement avec nous pour trouver des événements Ureport près de chez toi!
   </div>
   
   <div>
   <h3>Média</h3>
    Ureport a rapidement généré de l’ attention internationale et le Burundi est parmi les pays qui montrent le chemin! 
    Tu peux trouver la couverture media nationale et internationale ici. 
   </div>
   


</div>

{%endblock%}