{% load i18n %}
{% load humanize %}

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Ureport - {% block page_title %}Voice Matters{% endblock %}</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />

    {% block stylesheets %}
    	<link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/splits.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/modules.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/tables.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/forms.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/icons.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}rapidsms/stylesheets/base.css" />
	    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css" />
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}ureport/stylesheets/ureport_home.css?11">
    {% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}ureport/javascripts/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}ureport/javascripts/ureport.min.js?41"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}ureport/javascripts/jquery-ui.js"></script>


         <script type="text/javascript">

              // var _gaq = _gaq || [];
              // _gaq.push(['_setAccount', 'UA-23521720-1']);
              // _gaq.push(['_trackPageview']);
// 
              // (function() {
                // var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                // ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                // var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
              // })();

            </script>
{% block top_js %}
{% endblock %}

</head>
<body>
    <div class="container container-fluid" style="background-color:#ffffff;">
        <div class="banner">
        	<div class="image_ban">
        		<img src="{{ STATIC_URL }}ureport/images/ureport_logo_1.png" width="100%" height="116" alt="ureport logo" />
          	</div>
          	<div class="nav">
		          <ul class="nav nav-pills">
		          	<li class="active"><a href="/"><br />ACCUEIL</a></li>
		  			<li class="active"><a href="/#poll_results/">RESULTATS<br />DES SONDAGES</a></li>
		  			<li class="active"><a href="/about_ureport/">A PROPOS DE<br />UREPORT</a></li>
		  			<li class="active"><a href="/join/">REJOINDRE<br/>UREPORT</a></li>
		  			<li class="active"><a href="/media/"><br /> MEDIA </a></li>
				  </ul> 
		  	</div>
	        <div class="ureporters_info">
	            <span id="span_total">{{ total_ureporters|intcomma }}</span><br /><span id="span_info" >membres jusqu'à ce jours </span>         
	        </div>
        </div>
        <!--<div id="flash_container">	
             <img src="{{ STATIC_URL }}ureport/images/carte.png" width="100%" height="%100" alt="map" />
        </div>-->
        
        <div class="sidebar">
            {% block sidecontent %}
            <div class="intro">
               Ureport est une plate-forme de SMS gratuits qui permet aux citoyens 
               de partager des informations et des opinions de leurs communautés et 
               de travailler ensemble pour amener un changement positif </div>
            <div class="join">
                <a href="/signup"> <img src="{{ STATIC_URL }}ureport/images/join_us_1.png" width="100%" /></a>
            </div>
                {% if quote %}
                    <div class="quotebox">
                        <div class="quote_head">
	                        <div class="title">
	                            VOTRE AVIS:
	                        </div>
	                        <div class="topquote">
	                            {{ quote.question }}
	                        </div>
                        </div>
                        <div class="bottomquote">
                            {{ quote.quote }}
                        </div>
                        <div class="quoted">
                            {{ quote.quoted }}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
            
            <div id="say">
            	<div class="say_header">
            		Sois impliqué <br />
            		<span>
            			As-tu une bonne idée pour partager les informations de Ureport  avec les autres dans ta communauté? Peux-tu penser à une meilleure façon d'enregistrer les utilisateurs ou de partager les réponses des sondages?
            			 Si oui, nous voulons t'entendre! Envoie-nous un email à ureportburundi@gmail.com et nous discuterons.</span>
            	</div>
            	<div class="separator">
            		&nbsp;
            	</div>
            	<div class="sayit">
            		<span>
            			Dans notre communaute,nous n'avons pas de centre de sante,mais nous en avons une a Muzye a peu pres 25km de notre Village
            		</span><br /><br />
            		<span class="sayit_author">
            			- Geoffery, Lira uReporter.
            		</span>
            	</div>
            </div>
        </div>
        <div class="content">
        <!--<img src="{{ STATIC_URL }}ureport/images/chart.png" width="100%" height="100%" alt="Polls" />-->
        	<!--  MAIN CONTENT GOES HERE -->
            {% block content %}
            {% endblock %}
        </div>
		
	       <div class="footerlinks">
	           <div class="nav-bottom">
                <ul>
	                <li class="first"><a href="/">Home</a></li>
	                 <li><a href="#">Site Map</a></li>
	                <li><a href="#">Contact Us</a></li>
	                {% if user.is_authenticated %}
	                   <li><a href="{% url "ureport-polls" %}">Poll Admin</a></li>
	                   <li><a href="{% url "messagelog" %}">Message Log</a></li>
	                   <li><a href="{% url "ureport-contact" %}">uReporters</a></li>
	                   <li><a href="{% url "flaggedmessages" %}">Flagged Messages</a></li>
                        <li><a href="{% url "classifier" %}">Message Classification</a></li>
                    <li><a href="{% url "alerts" %}">Real Time</a></li>
	                {% else %}
	                   <li><a href="/accounts/login">LOGIN</a></li>
	                {% endif %}
                </ul>
	           </div>
	           <p>Copyright &copy; 2010 - 2012 UNICEF et al.</p>
	        </div>
	    </div>
        <script type="text/javascript" src="{{ STATIC_URL }}rapidsms/javascripts/collapse.js"></script>
		{% block javascripts %}
		{% endblock %}
</body>
</html>
